version: "3"

services :
  db:
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    container_name: t_db
    ports:
      - "3307:3306"
    volumes:
      - ./sql/database.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSORD: pass
      MYSQL_DATABASE: mydb
    working_dir: /home
    networks: 
      - default
      
  api:
    build:
      context: ./python
      dockerfile: Dockerfile_python
    image: py_api:latest
    container_name: t_python
    restart: always
    depends_on: 
      - db
    ports:
      - "5000:5000"
    volumes:
    - ./python/:/home/
    networks:
      - default

  encoder:
    build:
      context: ./encodocker
      dockerfile: Dockerfile_encoder
    image: encodocker:latest
    container_name: t_encoder
    #restart: always
    depends_on:
      - api
    ports:
      - "5001:5001"
    volumes:
    - ./encodocker/:/encoder/
    networks:
      - default
    
  web:
    build:
      context: ./vueker
      dockerfile: Dockerfile_vue
    image: nodocker:latest
    container_name: t_node
    depends_on:
      - api
    ports:
      - "49160:8080"
    volumes:
    - ./vueker/:/user/src/app/
    networks:
      - default

networks:
  default: