flask
requests
connexion
flask_restful
flask-cors
pymysql
flask_jsonpify
cryptography
flask_jwt_extended
Flask-SQLAlchemy
flask-marshmallow 
flask_httpauth
marshmallow-sqlalchemy 
marshmallow
pyopenssl